{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-start gap-2 mt-3">
    <a href="{{ path('app_products_index') }}" class="btn btn-primary"
        >Back To List</a
    >
    <button class="btn btn-secondary">
        {{ button_label|default('Save') }}
    </button>
</div>
{{ form_end(form) }}
