{% extends 'base.html.twig' %} {% block title %}Edit User{% endblock %} {% block
body %}
<div class="container mt-5">
    <h4>Edit Userdata: {{ user.email }}</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-start">
        <button class="btn btn-success">Save changes</button>
        <a href="{{ path('app_user_profile') }}" class="btn btn-secondary ms-1"
            >Back To User-List</a
        >
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
